<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
        <a class="title" href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Startseite</a>
      <a class="sidebar-nav-item{% if page.url == "/sites/about/" %} active{% endif %}" href="/sites/about/">Links</a>      
      <a class="sidebar-nav-item{% if page.url == "/sites/termine/" %} active{% endif %}" href="/sites/termine/">Links</a>      
      <a class="sidebar-nav-item{% if page.url == "/sites/links/" %} active{% endif %}" href="/sites/links/">Links</a>      
      <a class="sidebar-nav-item{% if page.url == "/sites/impressum/" %} active{% endif %}" href="/sites/impressum/">Impressum</a>
    </nav>
  </div>
</div>
